html {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px
}
body {
  font-family: Consolas, monaco, monospace;
  font-size: 14px
}
/* Style the header */
.header {
  padding: 0px 16x;
  text-align: center;
  background: #000000;
  color: #ffffff;
  font-family: Consolas, monaco, monospace;
}

.marquee {
      font-size: 20px;
      color: #ffffff;
      font-family: Consolas, monaco, monospace;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}