html {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px
}
body {
  font-family: Consolas,monaco,monospace; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}

.header {
  padding: 20px 40px;
  text-align: center;
  background: #000000;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}

.marquee {
      font-size: 30px;
      color: #ffffff; 
}

.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
/*.sticky + .content {
  padding-top: 102px;
}*/