html {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px
}
/* Style the header */
.header {
  padding: 0px 16px;
  text-align: center;
  background: #000000;
  color: #ffffff;
}

.marquee {
      font-size: 18px;
      color: #ffffff;
      font-family: Consolas, monaco, monospace;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


/*//image in background*/
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("/images/presseries22.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}